
<div id="header" class="round">


  <ul class="navigation round">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Pick" , match_path %></li>
    <li><%= link_to "Search" , search_path %></li>
    <li><%= link_to "signup", 'users/new' %></li>
  </ul>
</div>
